In [9]:
from questdb.ingress import Sender
import numpy as np

with Sender('localhost', 9009) as sender:

    for id, temp, hum in zip(list(range(1, 10001)), list(np.random.normal(size=10000)), list(np.random.normal(size=10000))):
        sender.row(
            'sensors',
            symbols={'id': str(id)},
            columns={'temperature': temp , 'humidity':hum})
        sender.flush()

In [10]:
import requests
import io

In [13]:
r = requests.get("http://localhost:9000/exp?query=select * from sensors")

In [14]:
import pandas as pd

data = pd.read_csv(io.StringIO(r.text), parse_dates=['timestamp'])
data

             id  temperature  humidity                        timestamp
0      toronto1    20.000000  0.500000 2022-10-08 17:51:34.680679+00:00
1             1     0.691588  0.615326 2022-10-08 18:01:54.784899+00:00
2             2     0.894450  1.483388 2022-10-08 18:01:54.787292+00:00
3             3    -0.976326 -0.963153 2022-10-08 18:01:54.787721+00:00
4             4    -1.093668 -0.260228 2022-10-08 18:01:54.787822+00:00
...         ...          ...       ...                              ...
9996       9996    -1.587676 -0.049915 2022-10-08 18:01:55.232565+00:00
9997       9997    -0.038694  0.829540 2022-10-08 18:01:55.232750+00:00
9998       9998     0.827009 -1.223352 2022-10-08 18:01:55.233219+00:00
9999       9999     0.896027 -1.173229 2022-10-08 18:01:55.233280+00:00
10000     10000     0.818270  1.452443 2022-10-08 18:01:55.233341+00:00

[10001 rows x 4 columns]